- breadcrumb :logout
= render "layouts/breadcrumbs"
.Logout
  .Logout__Form
    -# = form_with model: @user do |form|
    .Logout__Button
      = link_to "ログアウト", destroy_user_session_path, class: "Logout_Btn",method: :delete