/////mixin////////////////////////////////////////

@mixin ImgColor{
  background-color: #3CCACE;
}

@mixin BackColor{
  background-color: rgb(245, 245, 245)
}

@mixin BorderGray{
  border: 1px solid rgb(245, 245, 245);
}

/////大枠/////////////////////////////////////////
* {
  box-sizing: border-box;
}

.Body_Block{
  @include BackColor;
  width: 100vw;
}

.Wrapper {
  display: flex;
  margin: 0px auto 0;
  padding: 40px 0;
  width: 1020px;
  @include BackColor;
}

////サイドバー//////////////////////////////////////

.SideBar {
  float: left;
  width: 280px;
  margin: 0 40px 0 0;
  &__ListBox{
    background-color: #fff;
  }
  &__List{
    @include BorderGray;
    height: 48px;
    padding: 10px;
    a{
      text-decoration: none;
      color: black;
      display: block;
    }
  }
  &__Title{
    font-weight: 600;
    font-size: 18px;
    margin-top: 30px;
  }
}


//////クレジット登録画面////////////////////////////////////

.R-Content{
  background-color: #fff;
  height: 100%;
  width: 700px;
  padding-bottom: 10px;
  h2{
    font-size: 24px;
    font-weight: 600;
    padding: 8px 24px;
    text-align: center;
    @include BorderGray;
  }
  form{
    margin: 0 auto;
    padding-top: 20px;
  }
}

.UserInfo{
  margin-top: 25px;
  select{
    height: 50px;
    width: 120px;
  }
}

.CardNumber{
  font-size: 16px;
  margin: 8px 0;
  label{
    font-weight: 600;
  }
  span{
    @include ImgColor;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
  }
}

.FormContent{
  max-width: 343px;
  margin: 0 auto;
}

.CardNumber-Form{
  width: 100%;
  height: 48px;
  padding: 0 10px;
}

.SequirtyInfo{
  font-size: 12px;
  display: grid;
  justify-content: end;
  span{
    color: black;
  }
}

.Send_Btn{
  margin: 40px 0;
  @include ImgColor;
  border: 1px solid #3CCACE;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}


//////クレジット登録完了画面////////////////////////////////////

.show {
  background-color: #fff;
  height: 100%;
  width: 500px;

 
 
}
.show__frame {
  width: 500px;
  height: 250px;
  border: 1px solid gray;
  background-color: #fff;


}
.show__frame__title {
  padding: 30px;
  text-align: center;
  h2 {
    font-size: 25px;
  }
}

.credit_card__list {
  display: flex;
  justify-content: center;

}

.expiration_date {
  display: flex;
}



.credit_card_info__numbers {
  width: 300px;
  height: 100px;

  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.number_lits {
  width:160px;
  height: 70px;
  padding: 10px;
  margin-left: 5px;
  background-color: #fff;
}



.credit_card_info {
  display: flex;
  align-items: center;
}

.credit_card_info__numbers {
  display: flex;
}

.expiration_date__info {
  margin-left: 10px;
}

.destroy__function {
  margin-left: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.destroy__function__link {
  font-size: 20px;

}

.destroy__function{

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}