// 購入確認ページのsassです(川崎が追加)

* {
  box-sizing: border-box;
}


// 変数定義
$section-color: rgb(51, 51, 51);
$background-border-color: rgb(245, 245, 245);
$warning-color: rgb(255, 2, 17);
$success-color: rgb(0, 149, 238);
$font-weight-bold: 600;



// @mixin
@mixin section-box() {
    max-width: 375px;
    margin: 0px auto;
    padding: 32px 16px;
    border-bottom: 1px solid $background-border-color;
}


// ヘッダー
.Header{
  height: 128px;
  background-color: $background-border-color;
  position: relative;
  &__logo-image{
    height: 49px;
    width: 185px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }
}


.Main{
  background-color: $background-border-color;
  &__wrapper{
    background-color: white;
    height: 800px;
    width: 700px;
    margin: 0 auto;
  }

  // タイトルの部分
  .Title-box{
    @include section-box();
    text-align: center;
    &__title{
      font-size: 24px;
      line-height: 34px;
      font-weight: $font-weight-bold;
      color: $section-color;
    }
  }

  // 商品概要
  .Outline{
    @include section-box();
    &__inner{
      display: flex;
      }
    &__inner-imagebox{
      height: 80px;
      width: 80px;
      border-radius: 4px;
      display: inline-block;
      margin: 0;
      overflow: hidden;
    }
    &__inner-imagebox img{
      height: 100%;
      width: 100%;
    }
    &__inner-textbox{
      margin-left: 16px;
      width: calc(375px - 130px);
    }
    &__inner-heading{
      font-size: 14px;
      line-height: 1.4em;
      margin-bottom: 8px;
    }
    &__inner-details{
      text-align: right;
      width: 100%;
      &--thin{
        font-size: 12px;
      }
      &--bold{
        font-size: 15px;
        font-weight: 600;
        margin-left: 8px;
      }
    }
    }

  // 支払い金額
  .Amount{
    @include section-box();
    &__money{
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      font-weight: 600;
      align-items: center;
      margin-bottom: 24px;
      &--big{
        font-size: 24px;
      }
    }
    &__point{
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      line-height: 1.4em;
    }
   
    &__point-box{
      display: flex;
      &--square{
        background-color: #ccc;
        width: 20px;
        display: inline-block;
        height: 20px;
      }
      &--text{
        display: inline-block;
        font-weight: $font-weight-bold;
        line-height: 1.4em;
        vertical-align: middle;
        margin-left: 8px;
      }
    }
    &__point-more{
      font-size: 12px;
      text-align: right;
      line-height: 1.6;
      max-width: 145px;
    }
  }

  // 支払い方法
  .Payment{
    @include section-box();
  }
    .Payment-way{
      font-size: 14px;
      font-weight: $font-weight-bold;
      margin-bottom: 16px;
    }
    .Payment-registration{
      text-decoration: none;
      color: $success-color;
      display: flex;
      font-size: 14px;
    }

  // 配送先
  .Delivery{
    @include section-box();
  }
    .Delivery-way{
      font-size: 14px;
      font-weight: $font-weight-bold;
      margin-bottom: 16px;
    }
    .Delivery-registration{
      text-decoration: none;
      color: $success-color;
      display: flex;
      font-size: 14px;
    }

  // 購入ボタン
  .Purchase{
    max-width: 375px;
    margin: 0px auto;
    padding: 32px 16px 56px;
      &__inner-warning{
        color: $warning-color;
        line-height: 1.5;
        margin-bottom: 24px;
        font-size: 14px;
      }
      &__inner-btn{
        background-color: #ccc;
        color: #888;
        border: none;
        width: 100%;
        min-height: 48px;
        padding: 0 24px;
        display: block;
        font-size: 17px;
        font-weight: $font-weight-bold;
        border-radius: 4px;
      }
  }
  
}


// フッター
.Footer{
  background-color: $background-border-color;
  padding: 40px 0px 41px;
  text-align: center;
  &__ul{
    display: flex;
    margin: 0 auto 40px;
    align-items: center;
    justify-content: center;
  }
  &__li{
    margin: 16px 0px 0px 16px;
    font-size: 12px;
    
  }
  &__li a{
    text-decoration: none;
    color: $section-color;
    &:hover{
      border-bottom: 1px solid $section-color;
      opacity: 0.6;
    }
  }
  &__image{
    width: 140px;
    margin-bottom: 8px;
  }
  &__copyright{
    font-size: 12px;
  }
}


// プラスのアイコン(font-awesome)
.fa-plus-circle{
  margin-right: 4px;
  margin-top: 3px;
}


