* {
  box-sizing: border-box;
}

.wrapper{
  width: 100vw;
  margin: 0px auto;
  background-color: #eee;
}
.putup-item-top{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 128px;
}
.putup-item-middle{
  width: 700px;
  height: calc(100% - 348px);
  margin: 0px auto;
  background-color: #fff;
  &__content{
    padding: 40px;
    border-bottom: #eee solid 1px;
    width: 100%;
    &__form{
      &__upload{
        &__block{
          display: flex;
          margin-bottom: 10px;
        }
      }
    }
    &__index{
      display: flex;
      &__title{
        margin-right: 10px;
        font-size: 14px;
        font-weight: bold;
      }
      &__essential{
        width: 30px;
        background-color: #3CCACE;
        color: #fff;
        font-size: 12px;
        text-align: center;
        line-height: 21px;
        height: 23px;
        display: block;
      }
      &__any{
        width: 30px;
        background-color: #ccc;
        color: #fff;
        font-size: 12px;
        text-align: center;
        line-height: 21px;
        height: 23px;
      }
    }
    &__comment{
      margin-top: 16px;
      font-size: 14px;
    }
    &__imageup{
    }
    &__item-name{
      width: 620px;
      height: 48px;
      margin-top: 16px;
      padding: 0px 16px;
    }
    &__item-description{
      width: 620px;
      margin-top: 16px;
      padding: 13px 16px;
    }
    &__item-brand{
      width: 620px;
      height: 48px;
      margin-top: 16px;
      padding: 0px 16px;
    }
    &__item-value{
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    height: 48px;
    margin: 0;
    outline: none;
    padding: 0 16px;
    width: inherit;
    }
  }
  &__Fee{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: content-box;
    display: flex;
    height: 46px;
    &__Right{
      display: block;
    }
  }
}

.PhotoBox{
  border: 1px dotted black;
  height: 100px;
  background-color: #eee;
  text-align: center;
  &__Item-image{
    line-height: 75px;
    width: 100%;
    height: 100%;
    display: inline-block;

    i{
      font-size: 35px;
      display: block;
      height: 10px;
      margin: 20px auto;
    }
    span{
      font-size: 10px;
    }
  }
  &__Item-File{
  display: none;
  }
}

.CalcField{
  padding: 40px;
  &__index{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
     &__Field{
       display: flex;
      &__title{
        margin-right: 10px;
        font-size: 14px;
        font-weight: bold;
      }
      &__essential{
        width: 30px;
        background-color: #3CCACE;
        color: #fff;
        font-size: 12px;
        text-align: center;
        line-height: 21px;
        height: 23px;
      }
    }
  }
  &__Alart{
    color: #ff0211;
    font-size: 12px;
    line-height: 1.4em;
    margin: 4px 0 0;
    text-align: right;
    display: none;
  }
  &__Fee{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    &__Left{
    }
  }
}


.putup-item-bottom{
  width: 100%;
  height: 220px;
  padding: 40px 0px 41px;
}


.Button{
  padding: 0 40px;
  width: 360px;
  margin: 0px auto 32px;
  &__Form__Red{
    background-color: red;
    color: #fff;
    display: block;
    width: 100%;
    font-size: 17px;
    min-height: 48px;
    cursor: pointer;
    padding: 0 24px;
    border: red;
    border-radius: 3px;
    height: 50px;
    margin-bottom: 20px;
  }
  &__Form__Gray{
    display: block;
    width: 100%;
    font-size: 17px;
    min-height: 48px;
    cursor: pointer;
    padding: 0 24px;
    border: #eee;
    border-radius: 3px;
    height: 50px;
  }
  a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: #0095EE;
    padding-top: 20px;
  }
}

.ItemFooter{
  width: 700px;
  margin: 0px auto;
  margin-bottom: 50px;
  &__Upper{
    text-align: center;
    padding: 20px;
    &__Box{
      margin-top: 10px;
      display: flex;
      justify-content: space-evenly;
      &__List{
        margin: 20px 0;
        font-size: 12px;
        a{
          text-decoration: none;
          color: black;
        }
      }
    }
  }
  &__Lower{
    text-align: center;
    margin-bottom: 80px;
    h3{
      font-size: 10px;
    }
  }
}


.select{
  width: 620px;
  height: 48px;
  margin-top: 16px;
  padding: 0px 56px 0px 16px;
  font-size: 16px;
}

.alert {
  color:#262626; 
  background:#FFEBE8;
  text-align: center;
  border:2px solid #990000;
  padding:12px; font-weight:850;
}

.field_with_errors {
  display: contents;
}

#previews{
  height: 0px;
}

.js-hide{
  display: none;
}

.js-remove{
  display: inline-block;
}

/////////商品詳細ページ////////////////////////////
body{
  width: 100%;
  background-color: #eee;
  position: absolute;
}

.Wrapper{
  width: 700px;
  background-color: #eee;
  margin: 40px auto 0;
  position: relative;
}


.Showtop{
  background-color: #fff;
  padding: 24px 40px 40px;
  &__Name{
    font-size: 24px;
    text-align: center;
    height: 100px;
    line-height: 100px;
    font-weight: bold;
    color: #333;
    font-family: monospace;
  }
  &__Display{
    display: flex;
    justify-content: center;
    &__Image{
      height: 360px;
      width: 300px;
      &__Main{
        height: 304px;
        width: 304px;
        border: 2px solid #47e2d5;
      }
      &__GroupLists{
        height: 60px;
        width: 100%;
        display: flex;
        &__List{
          width: 60px;
          height: 60px;
          border: 1px solid white;
          img{
            width: 100%;
            height: 80%;
            margin-top: 5px;
            margin-right: 5px;
            border: 1px solid #47e2d5;
          }
          img:hover{
            transform:scale(1.2,1.2);
          }
        }
      }
    }
    &__ListBox{
      margin-left: 10px;
      th{
        height: 55px;
        font-size: 14px;
        border: 1px solid #f5f5f5;
        font-weight: 400;
        background: #eee;
        padding: 8px;
      }
      td{
        border: 1px solid #f5f5f5;
        background-color: #fff;
        padding: 8px;
        font-size: 14px;
        a{
          text-decoration: none;
          color: #0099e8;
        }
      }
    }
  }
  &__PriceField{
    text-align: center;
    margin: 10px;
    &__Price{
      font-size: 50px;
      font-weight: 600;
    }
    &__Tax{
      margin-left: 15px;
      font-size: 12px;
    }
    &__SendFee{
      font-size: 16px;
    }
  }
  &__Alert{
    width: 300px;
    margin: 0 auto;
    border-radius: 2px;
    width: 100%;
  }
}

.StoreName{
  a{
    text-decoration: none;
    color: #0099e8;
  }
}

.GoodBtn{
  &__Good{
    a{
      text-decoration: none;
      i{
        color: rgb(245, 140, 158);
      }
    }
  }
  &__Bad{
    a{
      text-decoration: none;
      color: #0099e8;
    }
  }
}

.MessageField{
  margin-top: 15px;
}

.ShowMessage{
  background-color: #fff;
  padding: 20px;
  &__Caution{
    padding: 8px;
    font-size: 14px;
    background: #fff6de;
    margin-bottom: 10px;
  }
  textarea{
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
  }
  input{
    width: 100%;
    height: 50px;
    background: #aaa;
    border: 1px solid #aaa;
    color: #fff;
  }
}

.ShowIcon{
  background-color: #fff;
  height: 100px;
  margin-top: 20px;
  &__Box{
    padding-top: 20px;
    text-align: center;
    a{
      text-decoration: none;
    }
  }
}

.fb-blue{
  color: #4267b2
}

.tw-blue{
  color: #1da1f2
}

.line-green{
  color: #00B900
}

.pinterest{
  color: #aa262a;
}

.ShowBottom{
  width: 100%;
  margin-bottom: 100px;
  .ShowUser{
    h3{
      font-size: 22px;
      margin: 10px 0 8px;
      a{
        color: #0099e8;
        text-decoration: none;
        font-weight: bold;
      }
    }
    &__ItemGroup{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      &__ItemBox{
        background-color: #fff;
        width: 220px;
        height: 330px;
        margin: 5px;
        
        a{
          text-decoration: none;
          color: #333;
        }
        &__Image{
          width: 220px;
          height: 220px;
          img{
            max-width: 100%;
            height: auto;
          }
        }
        &__Details{
          padding: 8px;
          height: 110px;
          h3{
            font-size: 16px; 
            height: 50px;
          }
          p{
            font-weight: bold;
            display: block;
            margin-top: 15px;
          }
        }
      }
    }
  }
}

.Main{
  &__lead{
    background-image: image-url('bg-appBanner-pict.jpg');
    padding: 100px 40px;
    position: relative;
    background-size: cover;
    background-position: center;
  }
    &__lead-inner{
      color: #fff;
      text-align: center;
    }
      &__lead-title{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 24px;
        font-weight: bold;
        line-height: 1.4;
      }
      &__lead-text{
        font-size: 35px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &__lead-store-wrapper{
        display: flex;
        margin: 24px 0 0 0;
        justify-content: center;
        &__image{
          width: 180px;
          margin-right: 10px;
          &:hover{
            opacity: 0.7;
          }
        }
      }
    
}

.GoodBtn{
  display: flex;
  &__Good{
    margin-right: 15px;
  }
}


.Search-Wrapper{
  width: 100%;
  background-color: #eee;
  margin: 40px auto 0;
  width: 1020px;
  display: flex;
}

.Search_container{
  width: 700px;
}


// フッターの部分
.Footer{
padding: 60px 0;
color: #fff;
background-color: #272727;
text-align: center;
&__contents{
  display: flex;
  margin: 0 auto;
  width: 50%;
  justify-content: space-around;
}
  &__contents-subtitle{
    margin: 0 0 20px;
    font-size: 16px;
    font-weight: bold;
  }
  &__contents-li a{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    line-height: 32px;
    &:hover{
      border-bottom: 1px solid white;
    }
  }
&__logo {
  width: 160px;
  margin: 0 auto;
}
  &__logo img{
    width: 160px;
  }
  &__logo-text{
    font-size: 14px;
  }
}

// ヘッダー 上部
.Header{
  padding: 0 60px;
  width: 100%;
  height: 100px;
  background-color: #fff;
  &__top{
    display: flex;
    padding: 15px 0 0;
    margin: 0 auto;
    width: 70%;
  }
    .Logo{
      padding-bottom: 10px;
      border-radius: 4px;
      &__image{
        width: 150px;
        margin-right: 15px;
      }
    }

  //検索エリア
    .Search{
      display: flex;
      width: 100%;
      margin-top: 5px;
      &__inputText{
        width: calc(100% - 100px);
        height: 36px;
        padding: 0 0 0 5px;
      }
      &__submitBtn{
        height: 36px;
        background-image: image-url('icon-search01.png');
        width:40px;
        background-size: 50%;
        background-color: #3CCACE;
        border: none;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        &:hover{
         opacity: 0.7;
        }
      }
    }

  // ヘッダー下部
  &__bottom{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
    .Product-table{
      text-decoration: none;
      color: black;
      &:hover{
        color: #ffb340;
      }
    }
    .User{
      display: flex;
      margin-right: 60px;
      &__login{
        padding: 0 0 0 16px;
        display: inline-block;
        color: black;
        text-decoration: none;
        &:hover{
          color: #ffb340;
        }
      }
      &__registration{
        padding: 0 0 0 16px;
        display: inline-block;
        text-decoration: none;
        color: black;
        &:hover{
          color: #ffb340;
        }
      }
    }
}


.LeftSide{
  width: 270px;
}

.Search_container{
  width: 100%;
}

.Search{
  &__results{
    display: flex;
    flex-wrap: wrap;
    &__list{
      width: 250px;
      height: 300px;
      &__image{
        width: 150px;
        height: 200px;
        &__price{
          width: 100%;
        }
      }
      &__content{
        width: 100%;
      }
    }
  }
}

.picture{
  width: 200px;
  height: 200px;
}

.Item-Purchase{
  margin-top: 70px;
  color: white;
  text-decoration: none;
  font-size: 24px;
  line-height: 60px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  display: block;
  background: #ea352d;
  text-align: center;
  
}

.Item-Delete{
  color: white;
  text-decoration: none;
  font-size: 24px;
  line-height: 60px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  display: block;
  margin-top: 16px;
  background: #ea352d;
  text-align: center;
}



//image投稿欄のCSS
.post__drop__box__container{
  display: block;
  margin: 16px auto 0;
  display: flex;
  flex-wrap: wrap;

  //プレビュー表示欄のCSS
  .prev-content {
    display: flex;
    .preview-box {
      height: 162px;
      width: 112px;
      margin: 0 15px 10px 0;
      .upper-box {
        height: 112px;
        width: 100%;
        img{
          width: 112px;
          height: 112px;
        }
      }
      .lower-box {
        display: flex;
        text-align: center;
        .update-box {
          color: #00b0ff;
          width: 50%;
          height: 50px;
          line-height: 50px;
          border: 1px solid #eee;
          background: #f5f5f5;
          cursor: pointer;
        }
        .delete-box {
          color: #00b0ff;
          width: 50%;
          height: 50px;
          line-height: 50px;
          border: 1px solid #eee;
          background: #f5f5f5;
          cursor: pointer;
        }
      }
    }
  }

  //投稿クリックエリアのCSS
  .label-content{
    margin-bottom: 10px;
    width: 620px;
    
    .label-box {
      display: block;
      border: 1px dashed #ccc;
      position: relative;
      background: #f5f5f5;
      width: 100%;
      height: 162px;
      cursor: pointer;
      &__text-visible {
        position: absolute;
        top: 50%;
        left: 16px;
        right: 16px;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
        font-weight: bold;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        pointer-events: none;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
  }

  //file_fieldのcss
  .hidden-content {
    .hidden-field {
      display: none;
    }
    .hidden-checkbox {
      display: none;
    }
  }
}

