.R-Content
  %h2.R-Content__Title
    クレジットカード情報入力
  .FormContent
    -# = form_with model: @credit, method: :post, id: "cardCreateForm" do |form|
    = form_with url: pay_cards_path, method: :post, id: "charge-form", name: "inputForm",local: true do |form|
      .UserInfo
        .CardNumber
          %label
            カード番号
          %span
            必須
          = text_field_tag "card_number", "", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
        .CardImage

      .UserInfo
        .CardNumber
          %label
            有効期限
          %span
            必須
        %select#exp_month{name: "exp_month", type: "text"}
          %option{:value => "01"} 01
          %option{:value => "02"} 02
          %option{:value => "03"} 03
          %option{:value => "04"} 04
          %option{:value => "05"} 05
          %option{:value => "06"} 06
          %option{:value => "07"} 07
          %option{:value => "08"} 08
          %option{:value => "09"} 09
          %option{:value => "10"} 10
          %option{:value => "11"} 11
          %option{:value => "12"} 12
        
        %span
          月

        %select#exp_year{name: "exp_year", type: "text"}
          %option{:value => "2020"} 20
          %option{:value => "2021"} 21
          %option{:value => "2022"} 22
          %option{:value => "2023"} 23
          %option{:value => "2024"} 24
          %option{:value => "2025"} 25
          %option{:value => "2026"} 26
          %option{:value => "2027"} 27
          %option{:value => "2028"} 28
          %option{:value => "2029"} 29
          %option{:value => "2030"} 30

        %span
          年

      .UserInfo
        .CardNumber
          %label
            セキュリティーコード
          %span
            必須
        -# = form.text_field :card_id, placeholder: "カード背面4桁もしくは3桁の番号", class: "CardNumber-Form"
        = text_field_tag "cvc", "", class: "securityInput", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"
 
      
        .SequirtyInfo
          %span
            カード裏面の番号とは？
        -# #card_token.creditForm__submitfield
        -#   = form.submit "追加する", class: 'creditsSubmit', id: "token_submit"
        
        #card_token
        -# #token
        %br
        = form.submit "追加する", id: "token_submit"
